motd file = /config/rsyncd.motd
log file = /config/log/rsyncd.log
pid file = /config/run/rsyncd.pid
lock file = /config/run/rsync.lock

[config]
  path = /config
  comment = My addon config directory
  read only = no
  list = yes
