motd file = /config/rsyncd.motd
log file = /config/log/rsyncd.log
pid file = /config/run/rsyncd.pid
lock file = /config/run/rsync.lock

[my_path]
  path = /config
  comment = My Rsync Server
  read only = no
  list = yes
