name: WebDAV server
description: Expose Home Assistant folders with WebDAV
url: https://github.com/ElVit/hassio-addons/tree/main/webdav
version: 1.2.4
stage: stable
slug: webdav
codenotary: notary@home-assistant.io
startup: services
init: false
boot: auto
hassio_role: default
hassio_api: true
ports:
  8080/tcp: 8080
ports_description:
  8080/tcp: WebDAV
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
map:
  - addon_config:rw
  - all_addon_configs:rw
  - homeassistant_config:rw
  - addons:rw
  - backup:rw
  - media:rw
  - share:rw
  - ssl:rw
options:
  custom_config: false
  document_root: /share/webdav
  logins:
    - username: dummyUser
      password: null
schema:
  custom_config: bool
  document_root: str
  logins:
    - username: str
      password: password
