# For a more complete configuration see:
# https://github.com/hacdias/webdav

# Server related settings
auth: true
tls: false

# Default user settings (will be merged)
scope: /share/webdav
modify: true

# User settings
users:
  - username: "{env}USERNAME_0"
    password: "{env}PASSWORD_0"
    scope: /share/webdav
    modify: true
