# For a more complete configuration see:
# https://github.com/hacdias/webdav

{{- $options := (ds "options") }}

address: 0.0.0.0
port: 8801
tls: {{ $options.tls }}

scope: /config/data
modify: true

users:
{{- range $options.users }}
  - username: {{ .username }}
    password: {{ .password }}
    {{- if and (has . "scope") }}
    scope: {{ .scope }}
    {{- end }}
{{- end }}
